*.sh    text eol=lf
*.bat   text eol=crlf


dependencies.md                            linguist-generated=true
doc/changes/changelog.md                   linguist-generated=true
.github/workflows/broken_links_checker.yml linguist-generated=true
go.sum                                     linguist-generated=true
